hr{ color:#aaaaaa; }
img{ border:0; }
td.yomi{ text-align:left; padding:7px; }
td.yomi-s{ text-align:left; padding:2px; font-size:11pt;}
tr.yomi{ text-align:left; padding:7px; }
ol.yomi{ margin: 2px; padding: 10px; list-style: decimal inside; text-align: left;}
ul.yomi{ margin: 2px; padding: 10px; list-style: decimal inside; text-align: left;}
li.yomi-dec{ list-style-type: decimal }
table.yomi-body{background-color: #ffffff; width: 100%;}

#mid{ font-size:11pt; }
#small{ font-size:10pt; }
#kanri{ color:#ff9999; } /* ????????? */
#log{ width:90%; border-style:solid; border-color:#9999CC; margin:auto;}
#log-0{ background-color:#FFCC66; } /* ???????*/
#log-1{ background-color:#CCCCFF; } /* ???? */
#log-2{ background-color:#F0F0F0; } /* ???? */
#log-3{ background-color:#FFFFFF; } /* ???*/
#log-4{ background-color:#FFFFFF; } /* ??????? */
#log-5{ background-color:#F0F0F0; } /* ????? */
#log-6{ background-color:#CCCCFF; } /* ???????? */
#title-bar{ background-color:#A7C2DD; color:#000000; font-size:13pt; } /* ?????? */
#mid-bar{ background-color:#DDDDDD; } /* ???? */
