<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">
<script type="text/javascript">
<!--
function ch_type(sel){
// onchangeでウィンドウを開く方法を選択
var form=document.form1;
var open_type=sel.options[sel.selectedIndex].value;
if(open_type==1){form.target="_blank";}
else{form.target="";}
}
//-->
</script>

<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
	menu_bar();
?>
</font></div>

<hr />

<!-- ヘッダスペース -->
<div style="text-align:center;">
<div style="margin-left:auto;margin-right:auto;">
<?php
if (!$_no_ad_space){head_sp();}
?>
</div>
</div>

<!-- ナビゲーションバー -->
<?php echo YOMI_HOME_URL?> &gt; <?php echo $navi?>
<table width=100%><tr><td id="title-bar">
<b><?php echo $Stitle?></b>
</td></tr></table>
<?php echo $guide?>
<?php
gane_st(); #カテゴリ属性をロード
##下層カテゴリ
if($_GET['mode'] == "kt"){
	$child_count=PRbelow_kt(
		$_GET['kt'],
		'1', #← 1=登録数表示/0=登録数非表示
		'4'  #← カテゴリの表示列数
	);
}
##検索フォーム
make_serach_box($Ssearch_kt);
?>
<?php
if(isset($Clog[$Ssearch_kt])){
	?>
<!-- データがある場合 -->
<hr>
<!-- 表示方法選択フォーム -->
<?php
	if($_GET['kt'] && ($EST['rank_fl'] || $EST['rev_fl'])){
		echo "<b>カテゴリ別集計</b>: ";
		if($EST['rank_fl']){echo ' <a href="'.$EST['rank'].'?kt='.$_GET['kt'].$g_prm_child.'">人気ランキング</a> ';}
		if($EST['rank_fl'] && $EST['rev_fl']){echo " - ";}
		if($EST['rev_fl']){echo ' <a href="'.$EST['rank'].'?mode=rev&amp;kt='.$_GET['kt'].$g_prm_child.'">アクセスランキング</a> ';}
	}
	if($_GET['mode'] == "kt"){
		?>
<div><form action="<?php echo $EST['script']?>" method="get">
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name=page value="1">
	<input type=hidden name=mode value="<?php echo $_GET['mode']?>">
	<input type=hidden name=kt value="<?php echo $_GET['kt']?>">
<b>現在の表示順</b>:
<?php
		if ($g_prm_child) echo "<input type=hidden name=child_show value=\"".$EST['kt_child_show']."\">";
//		if(!$_GET['sort']){
//			switch ($EST['defo_hyouji']) {
//				case "time_new": echo "更新日の新しい順"; break;
//				case "id_new": echo "登録日の新しい順"; break;
//				case "ac_new": echo "アイウエオ順(昇順)"; break;
//				case "ac_old": echo "アイウエオ順(降順)"; break;
//				case "id_old": echo "登録日の古い順"; break;
//				case "time_old": echo "更新日の古い順"; break;
//				case "comment": echo "コメントの多い順"; break;
//				case "rating": echo "評価の高い順"; break;
//				case "vote": echo "投票の多い順"; break;
//				default: echo "マーク順";
//			}
//		}
//		else {
//			switch ($_GET['sort']) {
//				case "time_new": echo "更新日の新しい順"; break;
//				case "id_new": echo "登録日の新しい順"; break;
//				case "ac_new": echo "アイウエオ順(昇順)"; break;
//				case "ac_old": echo "アイウエオ順(降順)"; break;
//				case "id_old": echo "登録日の古い順"; break;
//				case "time_old": echo "更新日の古い順"; break;
//				case "comment": echo "コメントの多い順"; break;
//				case "rating": echo "評価の高い順"; break;
//				case "vote": echo "投票の多い順"; break;
//				default: echo "マーク順";
//			}
//		}
		?>
	<select name="sort">
		<option value="time_new"<?php echo $sort_selected['time_new'];?>>更新日の新しい順で
		<option value="id_new"<?php echo $sort_selected['id_new'];?>>登録日の新しい順で
		<option value="mark"<?php echo $sort_selected['mark'];?>>マーク順で
		<option value="comment"<?php echo $sort_selected['comment'];?>>コメントの多い順で
		<option value="rating"<?php echo $sort_selected['rating'];?>>評価の高い順で
		<option value="vote"<?php echo $sort_selected['vote'];?>>投票の多い順で
		<option value="ac_new"<?php echo $sort_selected['ac_new'];?>>アイウエオ順(昇順)で
		<option value="">---------------
		<option value="ac_old"<?php echo $sort_selected['ac_old'];?>>アイウエオ順(降順)で
		<option value="id_old"<?php echo $sort_selected['id_old'];?>>登録日の古い順で
		<option value="time_old"<?php echo $sort_selected['time_old'];?>>更新日の古い順で
	</select>
	<input type="checkbox" id="yomi_sort_mark" name="mark" value="1"<?php echo $sort_selected['mark'];?> /><label for="yomi_sort_mark">マーク優先</label>
	<input type="submit" value="並べ替え" />
<?php
	if ($child_count){
		$_url = $EST['script'].'?mode='.$_GET['mode'].'&amp;kt='.$_GET['kt'].'&amp;sort='.$_GET['sort'].'&amp;mark='.$_GET['mark'];
		if ($EST['kt_child_show']){
			echo '<a href="'.$_url.'&amp;child_show=0">下層カテゴリデータは表示しない。</a>';
		} else {
			echo '<a href="'.$_url.'&amp;child_show=1">下層カテゴリデータも表示する。</a>';
		}
	}
?>
</form></div>
<?php
	}
	##一括削除用のフォーム出力(上)
	if($CK_data[3] || $is_admin == 1){
		?>
	<form action="<?php echo $EST['cgi_path_url']?>regist_ys.php" method="post">
		<?php echo YOMI_TICKET_TAG; ?>
		<input type="hidden" name="mode" value="act_del">
		<input type="hidden" name="del_mode" value="multi">
		<input type="hidden" name="changer" value="admin">
		<input type="hidden" name="refer" value="<?php echo $refer?>">
<?php
	}
	?>
<!-- マークコメント/登録数表示/目次表示(上) -->
<img src="<?php echo $EST['img_path_url']?>m1.gif" align=bottom>
は<?php echo $EST['name_m1']?>、 <img src="<?php echo $EST['img_path_url']?>m2.gif" align=bottom>
は<?php echo $EST['name_m2']?>です。 <font id=kanri><b>この色</b></font>の文は管理人のコメントです。<br>
※リンク先が無くなっている等の問題がある場合にはタイトル横の [<b>管理者に通知</b>] リンクを押してください
<br><br>
<?php
	$arg=array($_GET['page'],$Clog[$Ssearch_kt],$EST['hyouji'],"$g_prm_child&amp;mode=".$_GET['mode']."&amp;kt=".$_GET['kt']."&amp;sort=".$_GET['sort'].'&amp;mark='.$_GET['mark'],$EST['script']);
	$PRmokuji=mokuji($arg);
	?>
<?php echo $PRmokuji?>
<?php
	EST_reg();
	foreach ($log_lines as $Slog){
?>
<!-- ログ表示 -->
<div style="text-align:center;">
<table id=log>
<tr id=log-1>
	<td class="yomi"><a href="<?php echo $Slog['jump_url']?>" target="_blank" style="text-decoration:none" title="新しいウィンドウで開く"><?php echo $Slog['favicon'] ?></a> <a href="<?php echo $Slog['jump_url']?>" title="このウィンドウで開く&#13;&#10;左の■は別ウィンドウ"><font size="+1"><b><?php echo $Slog[1]?></b></font></a>
<?php
		put_icon(); #<!-- ←アイコンを付加 -->
		?>
 <br><div align="right"><font size="-1">更新日：<?php echo date("Y/m/d (D) h:i",$Slog[11])?></font></div>
<?php
		if($CK_data[3] || $is_admin == 1){
			?>
[<input type=checkbox name="del[]" value="<?php echo $Slog[0]?>"> 削除チェック]
アクセス数：<?php echo $Slog['count']?><br>
<?php
		}
		if($imguri = yomi_get_banner_uri($Slog[12], $Slog[0])){
		?>
<a href="<?php echo $Slog['jump_url']?>" target="_blank">
<img src="<?php echo $imguri?>" alt="<?php echo $Slog[1]?>" width=<?php echo $EST_reg['Mbana_w']?> height=<?php echo $EST_reg['Mbana_h']?>></a>
<?php
		}
		?>
		&nbsp;<a href="<?php echo $Slog['jump_url']?>" target="_blank"><?php echo $Slog[2]?></a>
</td>
</tr>
<?php
		if(!$ganes[$_GET['kt']] || $EST['kt_child_show']){
			?>
<tr id=log-2>
<td class="yomi">
<?php
			$kt=explode("&",$Slog[10]);
			foreach($kt as $tmp){
				if(isset($ganes[$tmp])){
					echo "[<a href=\"".yomi_makelink($tmp)."$Eend\">";
					#echo $ganes[$tmp]; #カテゴリ名を短縮カテゴリ名で表示
					echo full_kt($tmp); #カテゴリ名をフルカテゴリ名で表示
					echo "</a>] "; #１カテゴリごとに改行する場合は echo "</a>] <br>"; に修正
				}
			}
			?>
</td>
</tr>
<?php
		}
		?>
<tr id=log-3>
	<td class="yomi"><?php echo nl2br($Slog[6])?></td>
</tr>
<?php
		if($Slog[7]){
			?>
<tr id=log-4>
	<td class="yomi"><font id=kanri><?php echo nl2br($Slog[7])?></font></td>
</tr>
<?php
		}
		?>
<tr id=log-5>
	<td style="text-align:center;"><font size="-1">評価: <?php echo round($Slog[18],2)?> (投票数 <?php echo $Slog[19]?> )</font></td>
</tr>
<tr id=log-6>
	<td style="text-align:center;"><font size="-1">[<a href="<?php echo $EST[cgi_path_url]?>ratelink.php?lid=<?php echo $Slog[0]?>">このサイトを評価する</a>] [<a href="<?php echo $EST[cgi_path_url]?>regist_ys.php?mode=enter&id=<?php echo $Slog[0]?>" target="">修正・削除</a>] [<a href="<?php echo $EST['cgi_path_url']?>regist_ys.php?mode=no_link&id=<?php echo $Slog[0]?>&pre=on&title=<?php echo rawurlencode($Slog[1])?>">管理者に通知</a>] [<a target="_top" href="mailto:?subject=<?php echo rawurlencode(mb_convert_encoding(sprintf(_MD_INTRESTLINK,$xoopsConfig['sitename']),"SJIS","AUTO"))?>&body=<?php echo rawurlencode(mb_convert_encoding(sprintf(_MD_INTLINKFOUND,$xoopsConfig['sitename'])."\r\n[".$Slog[1]."]\r\n".$EST[cgi_path_url]."single_link.php?item_id=".$Slog[0],"SJIS","AUTO"))?>"><?php echo _MD_TELLAFRIEND?></a>] [<a href="<?php echo $EST[cgi_path_url]?>single_link.php?item_id=<?php echo $Slog[0]?>">コメント(<?php echo $Slog[20]?>)</a>]</font></td>
</tr>
</table>
</div>
<br>
<!-- /ログ表示 -->
<?php
}
	?>
<!-- 目次表示(下) -->
<?php echo $PRmokuji?>
<!--/データがある場合-->
<?php
	##一括削除用のフォーム出力(下)
	if($CK_data[3] || $is_admin == 1){
		?>
<center>
<input type="submit" value="一括削除実行">
</center>
</form>
<?php
	}
} else {
	if (isset($child_count)){
		if ($EST['kt_child_show']){
			echo "<a href=\"".$EST['script']."?&mode=".$_GET['mode']."&kt=".$_GET['kt']."&sort=".$_GET['sort']."&child_show=0\">下層カテゴリはデータは表示しない。</a>";
		} else {
			echo "<a href=\"".$EST['script']."?&mode=".$_GET['mode']."&kt=".$_GET['kt']."&sort=".$_GET['sort']."&child_show=1\">下層カテゴリデータも表示する。</a>";
		}
	}
}
?>
<hr>
<?php
PR_other_kt("");
#フッタスペース
foot_sp();
?>