<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">

<a name=top></a>
<br><br><br>
<center>
<table border=3 width="450" cellpadding=1>
<tr><td cellpadding=2 width="100%">
<br>
<center><font size="+2">¡Ú<?php echo $TITLE?>¡Û</font></center>
<br>
<ul>
<li><?php echo $MES?>
</ul>
<br>
<center><?php echo $BACK_URL?></center> <br>
</td></tr>
</table>
</center>
<?php
if (empty($cp_function))
{
	include("footer.php");
}
else
{
	cp_cr();
}
if (isset($link) && $link) {
    @mysql_close($link);
}
exit;
?>