<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">
<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?></font></div>
<hr>
<?php echo YOMI_HOME_URL?> > <table width=100%><tr><td id="title-bar">
<b>新規ホームページ登録</b>
</td></tr></table>
<!-- ここから設定 -->
<center><br>
<table border width=100%><tr><td><br>
<center><font size="+1">【 登録上の注意事項と利用法 】</font></center>
<font id=small>
<ol class="yomi"><li>以下の（１）〜（８）の項目に該当するサイトは登録をご遠慮ください。
<br>（１）アダルトサイト又は１８歳未満に好ましくないと判断されるサイト 
<br>（２）公的秩序に反するサイト 
<br>（３）犯罪行為に結びつくサイト 
<br>（４）他人の著作権を侵害するサイト 
<br>（５）他人の財産、プライバシーを侵害するサイト 
<br>（６）その他、法律に反するサイト 
<br>（７）他人に不利益を与えるサイト 
<br>（８）他人を中傷するサイト
<br><br><li><b>ホームページの紹介文</b>は、登録するサイトの内容が紹介文を見る人に
分かりやすく伝わるように書いてみてください。
<br><br><li>管理人が登録内容について、変更・削除する必要があると判断した場合や<br>URLのリンク先がなくなっている場合には、内容を変更・削除する場合があります。
<br><br><li><img src="<?php echo $EST['img_path_url']?>m1.gif" align=bottom> の付いたサイトは、「<a href="<?php echo $EST['script']?>?mode=m1"><?php echo $EST['name_m1']?></a>」のコーナーにも表示されます。
<br><br><li><img src="<?php echo $EST['img_path_url']?>m2.gif" align=bottom>
  の付いたサイトは、「<a href="<?php echo $EST['script']?>?mode=m2"><?php echo $EST['name_m2']?></a>」のコーナーにも表示されます。
</ol>
</font></td></tr>
</table>
</center>
<br>
	<form action="regist_ys.php" method=post>
		<?php echo YOMI_TICKET_TAG; ?>
		<input type=hidden name=mode value="<?php echo $Pmode?>">
		<input type=hidden name=Smode_name value="<?php echo $Smode_name?>">
		<input type=hidden name=changer value="<?php echo $_POST['changer']?>">
		<input type=hidden name=no value="<?php echo $Pdata[0]?>">
		<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
		<input type=hidden name=bkt value="<?php echo $Pdata[10]?>">
		<input type=hidden name=pre_mark value="<?php echo $Pdata[3]?>">
		<input type=hidden name=Fuid value="<?php echo $x_uid?>">
<ol>
	※文字数の換算方法は「半角<b>2</b>文字=全角<b>1</b>文字」です。<br>
	※半角カナは文字化けの原因になりますので使用しないでください。<br><br>
	▼項目名の横に<font color=red>☆</font>が付いている項目は<font color=red>記入必須項目</font>です。<br>
<?php
if ($x_uid) {
?>
<!--お名前-->
	<br />
	<li>【お名前】<font color=red><?php echo $EST_reg['Fname']?></font>
		<input type=hidden name=Fname value="<?php echo $Pdata[8]?>">
		<ul><?php echo $Pdata[8]?></ul><br>
<!--メールアドレス-->
	<li>【メールアドレス】<font color=red><?php echo $EST_reg['Femail']?></font>
		<input type=hidden name=Femail value="<?php echo $Pdata[9]?>">
		<ul><?php echo $Pdata[9]?></ul><br>
<?php
} else {
?>
<!--お名前-->
	※登録ユーザーの方は、<font color=red><b>ログインしてから</b></font>登録してください。<br /><br/>
	<li>【お名前】<font color=red><?php echo $EST_reg['Fname']?></font>
		<ul>※ハンドルネームも可です<br>
		※全角<b><?php echo $EST_reg['Mname']?></b>文字以内<br>
		<input type=text name=Fname value="<?php echo $Pdata[8]?>" size=25></ul><br>
<!--メールアドレス-->
	<li>【メールアドレス】<font color=red><?php echo $EST_reg['Femail']?></font>
		<ul>※半角英数字<b><?php echo $EST_reg['Memail']?></b>文字以内<br>
		<input type=text name=Femail value="<?php echo $Pdata[9]?>" size=25></ul><br>
<?php
}
if (!$x_uid) {
?>
<!--パスワード-->
	<li>【パスワード】<font color=red>☆</font>
		<ul>※このパスワードで今後、登録内容の修正ができます<br>
		※半角英数字<b>8</b>文字以内<br>
		<input type=password name=Fpass value="<?php echo $Pdata[5]?>" size=10><br>
		<input type=password name=Fpass2 value="<?php echo $_POST['Fpass2']?>" size=10>(もう一度確認のため入力してください)
		</ul><br>
<?php
}
?>
<!--ホームページアドレス-->
	<li>【ホームページアドレス】<font color=red><?php echo $EST_reg['Furl']?></font>
		<ul>※半角英数字<b><?php echo $EST_reg['Murl']?></b>文字以内<br>
		<input type=text name=Furl value="<?php echo $Pdata[2]?>" size=70></ul><br>
<?php
if($EST_reg['bana_url']){
	?><!--タイトルバナーのURL-->
	<li>【タイトルバナーのURL】<font color=red><?php echo $EST_reg['Fbana_url']?></font>
		<ul>※バナー(画像)のURLの最後が「.gif」「.jpg」「.png」のいずれかで終わるようにしてください。
		<br>※表示されるサイズは 横<b><?php echo $EST_reg['Mbana_w']?></b>×縦<b><?php echo $EST_reg['Mbana_h']?></b>(ピクセル)</b> です。 
		<br>※半角英数字<b><?php echo $EST_reg['Mbana_url']?></b>文字以内
		<br><input type=text name=Fbana_url value="<?php echo $Pdata[12]?>" size=60>
		</ul><br>
<?php
}
?>
<!--ホームページのタイトル-->
	<li>【ホームページのタイトル】<font color=red><?php echo $EST_reg['Ftitle']?></font>
		<ul>※全角<b><?php echo $EST_reg['Mtitle']?></b>文字以内<br>
		<input type=text name=Ftitle value="<?php echo $Pdata[1]?>" size=50></ul><br>
<!--ホームページの紹介文-->
	<li>【ホームページの紹介文】<font color=red><?php echo $EST_reg['Fsyoukai']?></font>
		<ul>※HTMLタグは使えません<br>
		※全角<b><?php echo $EST_reg['Msyoukai']?></b>文字以内<br>
		<textarea wrap="soft" name=Fsyoukai cols=50 rows=3><?php echo $Pdata[6]?></textarea></ul><br>
<!--登録するカテゴリ-->
	<li>【登録するカテゴリ】<font color=red>☆</font>
<?php
PR_kt($Pdata[10]);
?>
<!--キーワード-->
	<li>【キーワード】<font color=red><?php echo $EST_reg['Fkey']?></font>
		<ul>※あなたのホームページに関係が深いキーワードを入力してください<br>
		※複数ある場合にはキーワードを半角スペースで区切ってください<br>
		※全角<b><?php echo $EST_reg['Mkey']?></b>文字以内<br>
		<input type=text name=Fkey value="<?php echo $Pdata[15]?>" size=60></ul><br>
<?php
if($EST_reg['add_kt']){
	?>
<!--追加して欲しいカテゴリ-->
	<li>【追加して欲しいカテゴリ】<font color=red><?php echo $EST_reg['Fadd_kt']?></font>
		<ul>※今後、新設した方が良いと思うカテゴリがあればご提案ください<br>
		※全角<b><?php echo $EST_reg['Madd_kt']?></b>文字以内<br>
		<input type=text name=Fadd_kt value="<?php echo $_POST['Fadd_kt']?>" size=60>
		</ul><br>
<?php
}
if($EST_reg['to_admin']){
	$_POST['Fto_admin']=str_replace("&lt;br&gt;", "\n", $_POST['Fto_admin']);
	$_POST['Fto_admin']=str_replace("<br>", "\n", $_POST['Fto_admin']);
	?>
<!--管理人へのメッセージ-->
	<li>【管理人へのメッセージ】<font color=red><?php echo $EST_reg['Fto_admin']?></font>
		<ul>※管理人へのメッセージ等ありましたらお書きください<br>
		※全角<b><?php echo $EST_reg['Mto_admin']?></b>文字以内<br>
		<textarea wrap="soft" name=Fto_admin cols=50 rows=3><?php echo $_POST['Fto_admin']?></textarea></ul>
<?php
}
if($EST_reg['sougo']){
	if($_POST['Fsougo']){$Csougo_0=""; $Csougo_1=" checked";}
	else{$Csougo_0=" checked"; $Csougo_1="";}
	?>
<!--相互リンク連絡項目-->
	<br><li>【相互リンクの有無】<font color=red><?php echo $EST_reg['Fto_admin']?></font>
		<ul>※当サイトと相互リンクしてくださる場合には「<b>相互リンクする</b>」を選択してください<br>
		<input type=radio name=Fsougo value=1<?php echo $Csougo_1?>>相互リンクする | <input type=radio name=Fsougo value=0<?php echo $Csougo_0?>>相互リンクしない
		</ul><br>
<?php
}
?>
<!--ここまで-->
	<br><br>
		<input type=submit value="&nbsp; 登録する &nbsp;"> <input type=reset value="リセット"><input type=checkbox name=preview value=on checked>プレビュー
</ol>
	</form>
<hr>
<?php
include("footer.php");
?>

<?php
if (isset($link) && $link) {
	@mysql_close($link);
}
?>