<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">

<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr>
<table width="100%"><tr><td id="title-bar">
<b>仮登録完了</b>
</td></tr></table>
<ol>
	▼仮登録が以下のとおり完了しました。管理人が確認した後に正式登録されます。<br><br>
<!--お名前-->
	<li>【お名前】<br>
		<ul><?php echo $Slog[8]?></ul><br>
<!--メールアドレス-->
	<li>【メールアドレス】<br>
		<ul><?php echo $Slog[9]?></ul><br>
<?php
if (!$x_uid) {
?>
<!--パスワード-->
	<li>【パスワード】<br>
		<ul><?php echo $Spass?></ul><br>
<?php
}
?>
<!--ホームページアドレス-->
	<li>【ホームページアドレス】<br>
		<ul><a href="<?php echo $Slog[2]?>"><?php echo $Slog[2]?></a>　[<a href="<?php echo $Slog[2]?>" target="_blank">確認</a>]
		</ul><br>
<?php
if($EST_reg['bana_url']){
?>
<!--タイトルバナーのURL-->
	<li>【タイトルバナーのURL】
		<ul><a href="<?php echo $Slog[12]?>"><?php echo $Slog[12]?></a>　[<a href="<?php echo $Slog[12]?>" target="_blank">確認</a>]
		</ul><br>
<?php
}
?>
<!--ホームページのタイトル-->
	<li>【ホームページのタイトル】
		<ul><?php echo $Slog[1]?></ul><br>
<!--ホームページの紹介文-->
	<li>【ホームページの紹介文】
		<ul>
		<table width="100%" border=0><tr><td><?php echo nl2br($Slog[6])?></td></tr></table>
		</ul><br>
<!--登録するカテゴリ-->
	<li>【登録するカテゴリ】
		<ul>
<?php
PR_preview_kt2();
?>
</ul><br>
<!--キーワード-->
	<li>【キーワード】
		<ul><?php echo $Slog[15]?></ul><br>
<?php
if($EST_reg['add_kt'] && $_POST['in_mode'] != "mente"){
?>
<!--追加して欲しいカテゴリ-->
	<li>【追加して欲しいカテゴリ】
		<ul><?php echo $_POST['Fadd_kt']?>
		</ul><br>
<?php
}
if($EST_reg['to_admin'] && $_POST['in_mode'] != "mente"){
?>
<!--管理人へのメッセージ-->
	<li>【管理人へのメッセージ】
		<ul>
		<table width="100%" border=0><tr><td><?php echo $_POST['Fto_admin']?></td></tr></table>
		</ul>
<?php
}
if($EST_reg['sougo'] && $_POST['in_mode'] !=  "mente"){
	if($_POST[Fsougo]){$PRsougo="相互リンクする";}
	else{$PRsougo="相互リンクしない";}
	?>
<!--相互リンク連絡項目-->
	<br><li>【相互リンクの有無】
	<input type=hidden name=Fsougo value="$_POST['Fsougo']?>">
		<ul><?php echo $PRsougo?></ul>
<?php
}
?>
<!--ここまで-->
	<br><br>
		【　<?php echo YOMI_HOME_URL?>に戻る　】
</ol></form>
<hr>
<?php
include("footer.php");
?>

<?php
exit;
