<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">

<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr>
<?php echo YOMI_HOME_URL?> > <table width=100%><tr><td id="title-bar">
<b>登録データの修正(管理者用)</b>
</td></tr></table>
<?php
if($EST[rev_fl]){
	?>
<ul>
【アクセスランキング用 URL】<br>
<input type=text size=90 value="<?php echo $EST['rank']?>?mode=r_link&id=<?php echo $Pdata[0]?>" readonly>
</ul>
<hr>
<?php
}
?>
	<form action="regist_ys.php" method=post>
		<?php echo YOMI_TICKET_TAG; ?>
		<input type=hidden name=mode value=act_mente>
		<input type=hidden name=Smode_name value=mente>
		<input type=hidden name=changer value=admin>
		<input type=hidden name=id value=<?php echo $Pdata[0]?>>
		<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
		<input type=hidden name=bkt value="<?php echo $Pdata[10]?>">
		<input type=hidden name=pre_mark value="<?php echo $Pdata[3]?>">
<ol>
	▼項目名の横に<font color=red>☆</font>が付いている項目は記入必須項目です<br><br>
<!--XOOPS UserID-->
	<li>【XOOPSユーザID】<br />
		<ul>※通常は変更しません。<br />
		<input type=text name=Fuid value="<?php echo $Pdata[17]?>" size=5></ul><br />
<!--お名前-->
	<li>【お名前】<font color=red>☆</font><br>
		<ul>※ハンドルネームも可です<br>
		※全角<b><?php echo $EST_reg[Mname]?></b>文字以内<br>
		<input type=text name=Fname value="<?php echo $Pdata[8]?>" size=25></ul><br>
<!--メールアドレス-->
	<li>【メールアドレス】<font color=red>☆</font><br>
		<ul>※半角英数字<b><?php echo $EST_reg[Memail]?></b>文字以内<br>
		<input type=text name=Femail value="<?php echo $Pdata[9]?>" size=25></ul><br>
<!--メール送信-->
	<li>【メール送信】<font color=red>☆</font>
		<ul>※元々しない設定になっている場合には「する」を選択しても送信されません<br>
			<select name="FCmail">
				<option value="no" selected>しない
				<option value="">する
			</select>
		</ul><br>
<!--マーク-->
<?php
PR_mark();
?>
<!--ホームページアドレス-->
	<li>【ホームページアドレス】<font color=red>☆</font><br>
		<ul>※半角英数字<b><?php echo $EST_reg['Murl']?></b>文字以内<br>
		<input type=text name=Furl value="<?php echo $Pdata[2]?>" size=70></ul><br>
<?php
if($EST_reg[bana_url]){
	?>
<!--タイトルバナーのURL-->
	<li>【タイトルバナーのURL】
		<ul>※バナー(画像)のURLの最後が「.gif」「.jpg」「.png」のいずれかで終わるようにしてください。
		<br>※表示されるサイズは 横<b><?php echo $EMbana_w?></b>×縦<b><?php echo $EMbana_h?></b>(ピクセル)</b> です。 
		<br>※半角英数字<b><?php echo $EST_reg[Mbana_url]?></b>文字以内
		<br><input type=text name=Fbana_url value="<?php echo $Pdata[12]?>" size=60>
		</ul><br>
<?php
}
?>
<!--ホームページのタイトル-->
	<li>【ホームページのタイトル】<font color=red>☆</font>
		<ul>※全角<b><?php echo $EST_reg['Mtitle']?></b>文字以内<br>
		<input type=text name=Ftitle value="<?php echo $Pdata[1]?>" size=50></ul><br>
<!--ホームページの紹介文-->
	<li>【ホームページの紹介文】<font color=red>☆</font>
		<ul>※HTMLタグは使えません<br>
		※全角<b><?php echo $EST_reg['Msyoukai']?></b>文字以内<br>
		<textarea wrap="soft" name=Fsyoukai cols=50 rows=3><?php echo $Pdata[6]?></textarea></ul><br>
<!--管理人のコメント-->
	<li>【管理人のコメント】
		<ul>※HTMLタグは使えません<br>
		<textarea wrap="soft" name=Fkanricom cols=50 rows=3><?php echo $Pdata[7]?></textarea></ul><br>
<!--登録するカテゴリ-->
	<li>【登録するカテゴリ】<font color=red>☆</font>
<?php
PR_kt($Pdata[10]);
?>
<!--キーワード-->
	<li>【キーワード】
		<ul>※あなたのホームページに関係が深いキーワードを入力してください<br>
		※複数ある場合にはキーワードを半角スペースで区切ってください<br>
		※全角<b><?php echo $EST_reg['Mkey']?></b>文字以内<br>
		<input type=text name=Fkey value="<?php echo $Pdata[15]?>" size=60></ul><br />
<!--更新日時-->
	<li>【更新日時】前回：<?php echo $Pdata[4]?>
		<ul>※更新日時を更新しない場合は、チェックを入れてください。<br />
		<input type=checkbox name=Fhold_timestamp value=on> タイムスタンプを更新しない。<br /><br />
<!--ここまで-->
		<input type=submit value="&nbsp; 変更する &nbsp;"> <input type=reset value="リセット">
</ol>
	</form>
<hr>
<ul>
<font size="+1">【パスワードの変更】</font>
<form action="<?php echo $EST['cgi_path']?>regist_ys.php" method=post>
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name="mode" value="act_repass">
	<input type=hidden name="repass_mode" value="change_pass">
	<input type=hidden name="changer" value="<?php echo $_POST['changer']?>">
	<input type=hidden name="pass" value="<?php echo $_POST['pass']?>">
	<input type=hidden name="id" value="<?php echo $Pdata[0]?>">
	新しいパスワード：<input type=text name=new_pass size=12>
	<input type=submit value="パスワード変更">
</form>
</ul>
<hr>
<a name=del></a>
<form action="regist_ys.php" method=post>
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name=mode value="act_del">
	<input type=hidden name=del_mode value="single">
	<ul><div align=left><font size="+1">【登録データの削除】</font></div>
<br>
<input type=hidden name=changer value=admin>
<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
<input type=hidden name=id value="<?php echo $_POST['id']?>">
削除確認チェック→<input type=checkbox name=del_check value=on><br>
<input type=submit value="このデータを削除する">
</form></ul>
<hr>
<?php
include("footer.php");
?>

<?php
if (isset($link) && $link) {
    @mysql_close($link);
}
exit;
?>