<link rel="stylesheet" href="<?=$EST['html_path_url']?>style.css" type="text/css">

<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr>
<form action="regist_ys.php" method=post>
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name="in_mode" value="form">
	<input type=hidden name="Fname" value="<?=$_POST['Fname']?>">
	<input type=hidden name="Femail" value="<?=$_POST['Femail']?>">
	<input type=hidden name="Fpass" value="<?=$_POST['Fpass']?>">
	<input type=hidden name="Fpass2" value="<?=$_POST['Fpass2']?>">
	<input type=hidden name="Furl" value="<?=$_POST['Furl']?>">
	<input type=hidden name="Fbana_url" value="<?=$_POST['Fbana_url']?>">
	<input type=hidden name="Ftitle" value="<?=$_POST['Ftitle']?>">
	<input type=hidden name="Fsyoukai" value="<?=$_POST['Fsyoukai']?>">
<?php
PR_preview_kt1();
?>
	<input type=hidden name="Fkey" value="<?=$_POST['Fkey']?>">
	<input type=hidden name="Fsougo" value="<?=$_POST['Fsougo']?>">
	<input type=hidden name="Fadd_kt" value="<?=$_POST['Fadd_kt']?>">
	<input type=hidden name="Fto_admin" value="<?=$_POST['Fto_admin']?>">
	<input type=submit value="登録画面に戻る">
<table width="100%"><tr><td id="title-bar">
<b>新規ホームページ登録(プレビュー画面)</b>
</td></tr></table>
※登録内容を確認してから下の「<b>登録する</b>」ボタンを押してください<br>
※登録内容を修正する場合には上の「<b>登録画面に戻る</b>」ボタンを押してください
</form>
	<form action="regist_ys.php" method=post>
		<?php echo YOMI_TICKET_TAG; ?>
		<input type=hidden name=mode value=act_regist>
		<input type=hidden name=Smode_name value=<?=$_POST['Smode_name']?>>
		<input type=hidden name=changer value="<?=$_POST['changer']?>">
		<input type=hidden name=pass value="<?=$_POST['pass']?>">
		<input type=hidden name=Fuid value="<?=$x_uid?>">
<ol>
	▼項目名の横に<font color=red>☆</font>が付いている項目は記入必須項目です<br><br>
<!--お名前-->
	<li>【お名前】<font color=red><?=$EST_reg['Fname']?></font>
		<input type=hidden name=Fname value="<?=$_POST['Fname']?>">
		<ul><?=$_POST['Fname']?></ul><br>
<!--メールアドレス-->
	<li>【メールアドレス】<font color=red><?=$EST_reg['Femail']?></font>
		<input type=hidden name=Femail value="<?=$_POST['Femail']?>">
		<ul><?=$_POST['Femail']?></ul><br>
<?php
if (!$x_uid) {
?>
<!--パスワード-->
	<li>【パスワード】<font color=red>☆</font>
		<input type=hidden name=Fpass value="<?=$_POST['Fpass']?>">
		<input type=hidden name=Fpass2 value="<?=$_POST['Fpass2']?>">
		<ul><?=$_POST['Fpass']?></ul><br>
<?php
}
?>
<!--ホームページアドレス-->
	<li>【ホームページアドレス】<font color=red><?=$EST_reg['Furl']?></font>
		<input type=hidden name=Furl value="<?=$_POST['Furl']?>">
		<ul><a href="<?=$_POST['Furl']?>"><?=$_POST['Furl']?></a>　[<a href="<?=$_POST['Furl']?>" target="_blank">確認</a>]
		</ul><br>
<?php
if($EST_reg[bana_url]){
?>
<!--タイトルバナーのURL-->
	<li>【タイトルバナーのURL】<font color=red><?=$EST_reg['Fbana_url']?></font>
		<input type=hidden name=Fbana_url value="<?=$_POST['Fbana_url']?>">
		<ul><a href="<?=$_POST['Fbana_url']?>"><?=$_POST['Fbana_url']?></a>　[<a href="<?=$_POST['Fbana_url']?>" target="_blank">確認</a>]
		</ul><br>
<?php
}
?>
<!--ホームページのタイトル-->
	<li>【ホームページのタイトル】<font color=red><?=$EST_reg['Ftitle']?></font>
		<input type=hidden name=Ftitle value="<?=$_POST['Ftitle']?>">
		<ul><?=$_POST[Ftitle]?></ul><br>
<!--ホームページの紹介文-->
	<li>【ホームページの紹介文】<font color=red><?=$EST_reg['Fsyoukai']?></font>
		<ul>
		<textarea wrap="soft" name=Fsyoukai cols=50 rows=3><?=$_POST['Fsyoukai']?></textarea>
		</ul><br>
<!--登録するカテゴリ-->
	<li>【登録するカテゴリ】<font color=red>☆</font>
		<ul>
<?php
PR_preview_kt2();
?>
</ul><br>
<!--キーワード-->
	<li>【キーワード】<font color=red><?=$EST_reg['Fkey']?></font>
		<input type=hidden name=Fkey value="<?=$_POST['Fkey']?>">
		<ul><?=$_POST[Fkey]?></ul><br>
<?php
if($EST_reg[add_kt]){
?>
<!--追加して欲しいカテゴリ-->
	<li>【追加して欲しいカテゴリ】<font color=red><?=$EST_reg['Fadd_kt']?></font>
		<input type=hidden name=Fadd_kt value="<?=$_POST['Fadd_kt']?>">
		<ul><?=$_POST['Fadd_kt']?>
		</ul><br>
<?php
}
if($EST_reg[to_admin]){
$_POST['Fto_admin']=str_replace("&lt;br&gt;", "\n", $_POST['Fto_admin']);
$_POST['Fto_admin']=str_replace("<br>", "\n", $_POST['Fto_admin']);
?>
<!--管理人へのメッセージ-->
	<li>【管理人へのメッセージ】<font color=red><?=$EST_reg['Fto_admin']?></font>
		<ul>
		<textarea wrap="soft" name=Fto_admin cols=50 rows=3><?=$_POST['Fto_admin']?></textarea>
		</ul>
<?php
}
if($EST_reg['sougo'] && $_POST['in_mode'] != "mente"){
	if($_POST['Fsougo']){$PRsougo="相互リンクする";}
	else{$PRsougo="相互リンクしない";}
?>
<!--相互リンク連絡項目-->
	<br><li>【相互リンクの有無】
	<input type=hidden name=Fsougo value="<?=$_POST['Fsougo']?>">
		<ul><?=$PRsougo?></ul>
<?php
}
?>
	<br><br>
		<input type=submit value="&nbsp; 登録する &nbsp;"> <input type=reset value="リセット">
</ol></form>
<hr>
<?php
include("footer.php");
?>

<?php
if (isset($link) && $link) {
	@mysql_close($link);
}
exit;
?>