<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">
<script type="text/javascript">
<!--
function ch_type(sel){
// onchangeでウィンドウを開く方法を選択
var form=document.form1;
var open_type=sel.options[sel.selectedIndex].value;
if(open_type==1){form.target="_blank";}
else{form.target="";}
}
//-->
</script>

<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr>

<!-- ヘッダスペース -->
<div style="text-align:center;">
<div style="margin-left:auto;margin-right:auto;">
<?php
if (!$_no_ad_space){head_sp();}
?>
</div>
</div>

<!-- ナビゲーションバー -->
<?php echo YOMI_HOME_URL?> &gt; <?php echo $navi?>
<?php
if($_GET['kt']){echo "<a href=\"$Ekt$_GET[kt]$Eend\">".$ganes[$_GET['kt']]."</a> &gt; ";}
?>

<table width=100%><tr><td id="title-bar">
<b><?php echo $Stitle?></b>
</td></tr></table>

<?php
##ページ説明を表示
gane_guide();
echo $KTEX[$_GET['mode']];
unset($KTEX);

if($_GET['mode'] == "rev"){echo " - <a href=\"$EST[rank]?mode=rev_bf&kt=$_GET[kt]$g_prm_child\">前回のアクセスランキング</a> - <a href=\"$EST[rank]?mode=rev_rui&kt=$_GET[kt]$g_prm_child\">アクセスランキング(累計)</a>";}
elseif($_GET['mode'] == "rev_bf"){echo " - <a href=\"$EST[rank]?mode=rev&kt=$_GET[kt]$g_prm_child\">現在のアクセスランキング</a> - <a href=\"$EST[rank]?mode=rev_rui&kt=$_GET[kt]$g_prm_child\">アクセスランキング(累計)</a>";}
else{echo " - <a href=\"$EST[rank]?mode=rev&kt=$_GET[kt]$g_prm_child\">現在のアクセスランキング</a> - <a href=\"$EST[rank]?mode=rev_bf&kt=$_GET[kt]$g_prm_child\">前回のアクセスランキング</a>";}
if ($_GET['kt'] && $child_count)
{
	if ($EST['kt_child_show']){
		echo " - <a href=\"$EST[rank]?&mode=$_GET[mode]&kt=$_GET[kt]&child_show=0\">下層カテゴリデータは集計しない。</a>";
	} else {
		echo " - <a href=\"$EST[rank]?&mode=$_GET[mode]&kt=$_GET[kt]&child_show=1\">下層カテゴリデータも集計する。</a>";
	}
}

gane_st(); #カテゴリ属性をロード
##下層カテゴリ
if($_GET['kt']){
	$child_count=PRbelow_kt(
		$_GET['kt'],
		'0', #← 1=登録数表示/0=登録数非表示
		'4'  #← カテゴリの表示列数
	);
}
##検索フォーム
make_serach_box($Ssearch_kt);

if($Clog){
	?>
<!-- データがある場合 -->
<hr>
<!-- 表示方法選択フォーム -->
<?php
	##一括削除用のフォーム出力(上)
	if($CK_data[3] || $is_admin == 1){
		?>
	<form action="<?php echo $EST['cgi_path_url']?>regist_ys.php" method="post">
		<?php echo YOMI_TICKET_TAG; ?>
		<input type="hidden" name="mode" value="act_del">
		<input type="hidden" name="del_mode" value="multi">
		<input type="hidden" name="changer" value="admin">
		<input type="hidden" name="refer" value="<?php echo $refer?>">
<?php
	}
?>
<!-- マークコメント/登録数表示/目次表示(上) -->
<img src="<?php echo $EST['img_path_url']?>m1.gif" align=bottom>
は<?php echo $EST['name_m1']?>、 <img src="<?php echo $EST['img_path_url']?>m2.gif" align=bottom>
は<?php echo $EST['name_m2']?>です。 <font id=kanri><b>この色</b></font>の文は管理人のコメントです。<br>
※リンク先が無くなっている等の問題がある場合にはタイトル横の [<b>管理者に通知</b>] リンクを押してください
<br><br>
<div align=left><i>集計期間：<?php echo $last_mod?></i></div>
<br>
<?php echo $PRmokuji?>
<?php
	EST_reg();
	//if($_GET[page] == "1"){$pre_rank=1;}
	$pre_rank_z = $pre_rank = ($_GET['page'] - 1) *  $EST['hyouji'] + 1;
	$rank=$pre_rank;
	foreach ($log_lines as $Slog){
		$pt=$Slog[16];
		if($pt != $pre_pt){$rank=$pre_rank_z;}
		#$jump_url="$EST[cgi_path_url]$EST[rank]?mode=link&id=$Slog[0]&url=$Slog[1]";
		$jump_url=$Slog[2]; #ランキング画面からもアクセスを集計する場合は上の行の先頭の「#」を取り除き、この行の先頭に「#」を追加する
		?>
<!-- ログ表示 -->
<table id="log">
<tr id="log-0">
<td>
<font size="+1"><b>第<?php echo $rank?>位</b></font> -&gt; <i><?php echo $pt?>pt</i>
</td>
</tr>
<tr id="log-1">
	<td class="yomi"><a href="<?php echo $jump_url?>" target="_blank" style="text-decoration:none">■</a> <a href="<?php echo $jump_url?>"><font size="+1"><b><?php echo $Slog[1]?></b></font></a>
<?php
		put_icon(); #<!-- ←アイコンを付加 -->
		?>
 <br><br><font size="-1">更新日：<?php echo date("Y/m/d (D) h:i",$Slog[11])?> [<a href="<?php echo $EST['cgi_path_url']?>regist_ys.php?mode=enter&id=<?php echo $Slog[0]?>" target="">修正・削除</a>]
 [<a href="<?php echo $EST['cgi_path_url']?>regist_ys.php?mode=no_link&id=<?php echo $Slog[0]?>&pre=on&ref=<?php echo $Eref?>&title=<?php echo rawurlencode($Slog[1])?>">管理者に通知</a>]
 </font>
<?php
		if($CK_data[3] || $is_admin == 1){
			?>
<br>[<input type=checkbox name="del[]" value="<?php echo $Slog[0]?>"> 削除チェック]
<?php
		}
		if($imguri = yomi_get_banner_uri($Slog[12], $Slog[0])){
			?>
<br><img src="<?php echo $imguri?>" width=<?php echo $EST_reg['Mbana_w']?> height=<?php echo $EST_reg['Mbana_h']?>>
<?php
		}
		?>
</td>
</tr>
<?php
		if(!$ganes[$_GET[kt]] || $EST['kt_child_show']){
			?>
<tr id=log-2>
<td>
<?php
			$kt=explode("&",$Slog[10]);
			foreach($kt as $tmp){
				if($ganes[$tmp]){
					echo "[<a href=\"$Ekt$tmp$Eend\">";
					#echo $ganes[$tmp]; #カテゴリ名を短縮カテゴリ名で表示
					echo full_kt($tmp); #カテゴリ名をフルカテゴリ名で表示
					echo "</a>] ";
				}
			}
			?>
</td>
</tr>
<?php
		}
		?>
<tr id=log-3>
	<td><?php echo $Slog[6]?></td>
</tr>
<?php
		if($Slog[7]){
			?>
<tr id=log-4>
	<td><font id=kanri><?php echo $Slog[7]?></font></td>
</tr>
<?php
		}
		?>
</table><br>
<!-- /ログ表示 -->
<?php
		$pre_rank_z++;
		$pre_pt=$pt;
	}
	?>
<!-- 目次表示(下) -->
<?php echo $PRmokuji?>
<!--/データがある場合-->
<?php
	##一括削除用のフォーム出力(下)
	if(($CK_data[3] || $is_admin == 1) && !($EST['html'] && $ganes[$_GET['kt']])){
		?>
<center>
<input type="submit" value="一括削除実行">
</center>
</form>
<?php
	}
}
else{
	if(!$_GET['kt']){echo "<p align=center>ランキングのデータを集計中です</p><br>";}
	else{echo "<p align=center>このカテゴリのサイトはランクインしていません</p><br>";}
}
?>
<hr>
<?php
gane_st();
PR_other_kt();
#フッタスペース
foot_sp();
include("footer.php");
?>

<?php
exit;
