<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">
<script type="text/javascript">
<!--
function ch_type(sel){
// onchangeでウィンドウを開く方法を選択
var form=document.form1;
var open_type=sel.options[sel.selectedIndex].value;
if(open_type==1){form.target="_blank";}
else{form.target="";}
}
//-->
</script>

<a name=top></a>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr>

<!-- ヘッダスペース -->
<div style="text-align:center;">
<div style="margin-left:auto;margin-right:auto;">
<?php
if (!$_no_ad_space){head_sp();}
?>
</div>
</div>

<!-- ナビゲーションバー -->
<?php echo YOMI_HOME_URL?> &gt; 
<table width="100%"><tr><td id="title-bar">
<b><?php echo $Stitle?></b>
</td></tr></table>
<?php echo $search_day?>

<?php
#ファイルの読み込み＆下層カテゴリ表示
gane_st(); #カテゴリ属性をロード
# id検索の#id:数字を削除
$_GET[word] = preg_replace("/^#id:[0-9]*\s?/","",$_GET['word']);
##検索フォーム
make_serach_box($Ssearch_kt);

##カテゴリ検索結果を表示
if(count($kt_search_list)>0 && $_GET['page']==1){
	echo "<hr><ul>▼以下のカテゴリと一致しました(" . count($kt_search_list) . "件)<br><br>";
	foreach ($kt_search_list as $kt){
		echo "<a href=\"$Ekt$kt$Eend\">" . full_kt($kt) . "</a><br><br>";
	}
	echo "</ul>";
}
##ワード検索結果を表示
if($Clog){
	if ($Clog > 1){
	?>
<!-- データがある場合 -->
<hr>
<!-- 表示方法選択フォーム -->
<div align=left><form action="<?php echo $EST['search']?>" method="get">
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name=page value="1">
	<input type=hidden name=word value="<?php echo $_GET['word']?>">
	<input type=hidden name=engine value="<?php echo $_GET['engine']?>">
	<input type=hidden name=mode value="<?php echo $_GET['mode']?>">
	<input type=hidden name=page value="1">
	<input type=hidden name=search_kt value="<?php echo $_GET['search_kt']?>">
	<input type=hidden name=search_day value="<?php echo $_GET['search_day']?>">
	<input type=hidden name=use_str value="<?php echo $_GET['use_str']?>">
	<input type=hidden name=method value="<?php echo $_GET['method']?>">
[現在の表示：<b>
<?php
		if(!$_GET['sort']){
			switch ($EST['defo_hyouji']) {
				case "time_new": echo "更新日の新しい順"; break;
				case "id_new": echo "登録日の新しい順"; break;
				case "ac_new": echo "アイウエオ順(昇順)"; break;
				case "ac_old": echo "アイウエオ順(降順)"; break;
				case "id_old": echo "登録日の古い順"; break;
				case "time_old": echo "更新日の古い順"; break;
				case "comment": echo "コメントの多い順"; break;
				case "rating": echo "評価の高い順"; break;
				case "vote": echo "投票の多い順"; break;
				default: echo "マーク順";
			}
		}
		else {
			switch ($_GET['sort']) {
				case "time_new": echo "更新日の新しい順"; break;
				case "id_new": echo "登録日の新しい順"; break;
				case "ac_new": echo "アイウエオ順(昇順)"; break;
				case "ac_old": echo "アイウエオ順(降順)"; break;
				case "id_old": echo "登録日の古い順"; break;
				case "time_old": echo "更新日の古い順"; break;
				case "comment": echo "コメントの多い順"; break;
				case "rating": echo "評価の高い順"; break;
				case "vote": echo "投票の多い順"; break;
				default: echo "マーク順";
			}
		}
		?>
</b>]
	<select name=sort>
		<option value="" selected>---------------
		<option value="time_new">更新日の新しい順で
		<option value="id_new">登録日の新しい順で
		<option value="mark">マーク順で
		<option value="comment">コメントの多い順で
		<option value="rating">評価の高い順で
		<option value="vote">投票の多い順で
		<option value="ac_new">アイウエオ順(昇順)で
		<option value="">---------------
		<option value="ac_old">アイウエオ順(降順)で
		<option value="id_old">登録日の古い順で
		<option value="time_old">更新日の古い順で
	</select>
	<input type=submit value="表示">
</form></div>
<?php
	}
	##一括削除用のフォーム出力(上)
	$CK_data=get_cookie();
	if(($CK_data[3] || $is_admin == 1) && !($EST['html'] && $ganes[$LC_kt]) && ($Clog !== 1)){
		?>
	<form action="<?php echo $EST['cgi_path_url']?>regist_ys.php" method=post>
		<?php echo YOMI_TICKET_TAG; ?>
		<input type=hidden name=mode value="act_del">
		<input type=hidden name=del_mode value="multi">
		<input type=hidden name=changer value="admin">
<?php
	}
	?>
<!-- マークコメント/登録数表示/目次表示(上) -->
<img src="<?php echo $EST['img_path_url']?>m1.gif" align=bottom>
は<?php echo $EST['name_m1']?>、 <img src="<?php echo $EST['img_path_url']?>m2.gif" align=bottom>
は<?php echo $EST['name_m2']?>です。 <font id=kanri><b>この色</b></font>の文は管理人のコメントです。<br>
※リンク先が無くなっている等の問題がある場合にはタイトル横の [<b>管理者に通知</b>] リンクを押してください
<br>
<?php
	if (!empty($Ebf_times))
	{
		$search_time = round(yomi_getmicrotime() - $Ebf_times,3);
		echo "<i>検索にかかった時間：" . $search_time . "秒</i><br>";
	}
	$word_en=$_GET['word'];
	$word_en=urlencode($word_en);
	$arg=array($_GET['page'],$Clog,$EST['hyouji'],"&mode=$_GET[mode]&sort=$_GET[sort]&word=$word_en&engine=$_GET[engine]&search_kt=$_GET[search_kt]&search_day=$_GET[search_day]&use_str=$_GET[use_str]&method=$_GET[method]",$EST['search']);
	$PRmokuji=mokuji($arg);
	?>
<?php echo $PRmokuji?>
<ul>
<?php
	foreach ($log_lines as $Slog){ #検索データを表示
		if($EST['rank_fl']){
			//$jump_url=$Slog[2];
			//$jump_url=urlencode($jump_url);
			//$jump_url="$EST[cgi_path_url]$EST[rank]?mode=link&id=$Slog[0]&url=$jump_url";
			$jump_url=$EST['cgi_path_url']."jump.php?id=$Slog[0]";
		}
		else{$jump_url=$Slog[2];}
		?>
<!-- ログ表示 -->
<div style="text-align:center;">
<table style="border:5px solid #DDDDDD;" id=log>
<tr id=log-1>
	<td><a href="<?php echo $jump_url?>" target="_blank" style="text-decoration:none" title="新しいウィンドウで開く">■</a> <a href="<?php echo $jump_url?>" title="このウィンドウで開く&#13;&#10;左の■は別ウィンドウ"><font size="+1"><b><?php echo $Slog[1]?></b></font></a>
<?php
		put_icon(); #<!-- ←アイコンを付加 -->
		?>
 <br><div align="right"><font size="-1">更新日：<?php echo $Slog[4]?></font></div>
<?php
		if(($CK_data[3] || $is_admin == 1) && !($EST['html'] && $ganes[$LC_kt]) && ($Clog !== 1)){
			?>
[<input type=checkbox name="del[]" value="<?php echo $Slog[0]?>"> 削除チェック]<br>
<?php
		}
		if($imguri = yomi_get_banner_uri($Slog[12], $Slog[0])){
?>
<a href="<?php echo $jump_url?>" target="_blank">
<img src="<?php echo $imguri?>" alt="<?php echo $Slog[1]?>" width=<?php echo $EST_reg['Mbana_w']?> height=<?php echo $EST_reg['Mbana_h']?>></a>
<?php
		}
?>
		&nbsp;<a href="<?php echo $jump_url?>" target="_blank"><?php echo $Slog[2]?></a>
<tr id=log-2><td><font id=small>
<?php
		$kt=explode("&",$Slog[10]);
		foreach ($kt as $tmp){
			if($ganes[$tmp]){
				echo "[<a href=\"$Ekt$tmp$Eend\">";
				#echo $ganes[$tmp]; #カテゴリ名を短縮カテゴリ名で表示
				echo full_kt($tmp); #カテゴリ名をフルカテゴリ名で表示
				echo "</a>] ";
			}
		}
		?>
</font></td></tr>
</td>
</tr>
<tr id=log-3>
	<td class="yomi"><?php echo nl2br($Slog[6])?></td>
</tr>
<?php
		if($Slog[7]){
			?>
<tr id=log-4>
	<td class="yomi"><font id=kanri><?php echo nl2br($Slog[7])?></font></td>
</tr>
<?php
		}
		?>
<tr id=log-5>
	<td style="text-align:center;"><font size="-1">評価: <?php echo round($Slog[18],2)?> (投票数 <?php echo $Slog[19]?> )</font></td>
</tr>
<tr id=log-6>
	<td style="text-align:center;"><font size="-1">[<a href="ratelink.php?lid=<?php echo $Slog[0]?>">このサイトを評価する</a>] [<a href="<?php echo $EST[cgi_path_url]?>regist_ys.php?mode=enter&id=<?php echo $Slog[0]?>" target="">修正・削除</a>] [<a href="<?php echo $EST['cgi_path_url']?>regist_ys.php?mode=no_link&id=<?php echo $Slog[0]?>&pre=on&title=<?php echo rawurlencode($Slog[1])?>">管理者に通知</a>] [<a target="_top" href="mailto:?subject=<?php echo rawurlencode(mb_convert_encoding(sprintf(_MD_INTRESTLINK,$xoopsConfig['sitename']),"SJIS","AUTO"))?>&body=<?php echo rawurlencode(mb_convert_encoding(sprintf(_MD_INTLINKFOUND,$xoopsConfig['sitename'])."\r\n[".$Slog[1]."]\r\n".XOOPS_URL."/modules/yomi/single_link.php?item_id=".$Slog[0],"SJIS","AUTO"))?>"><?php echo _MD_TELLAFRIEND?></a>] [<a href="single_link.php?item_id=<?php echo $Slog[0]?>">コメント(<?php echo $Slog[20]?>)</a>]</font></td>
</tr>


<?php
		if ($Clog == 1){
			$item_id = $Slog[0];
			echo "<tr><td>";
			include "comment.inc.php";
			echo "</td></tr>";
		}
?>
		
</table>
</div>
<br>
<!-- /ログ表示 -->
<?php
	}
	?>
</ul>
<!-- 目次表示(下) -->
<?php echo $PRmokuji?>
<!--/データがある場合-->
<?php
}
else{ #外部検索エンジンへのリンクを表示
	echo "<ul>▼該当するデータは見つかりませんでした。下記の検索エンジンで再検索できます。</ul>";
	require "pl/meta_ys.php";
	$location_list=meta("meta_page","on");
	PR_meta_page($location_list);
}
##一括削除用のフォーム出力(下)
if(($CK_data[3] || $is_admin == 1) && !($EST['html'] && $ganes[$LC_kt]) && ($Clog !== 1)){
	?>
<center>
<input type=submit value="一括削除実行">
</center>
</form>
<?php
}
?>
<hr>
<?php
PR_other_kt();
#フッタスペース
foot_sp();
?>
