<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">

<a name=top></a>
<form action="<?php echo $EST['admin']?>" method=post>
<?php echo YOMI_TICKET_TAG; ?>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr noshade color=#aaaaaa>
<?php echo YOMI_HOME_URL?> &gt;
<table width=100%><tr><td id="title-bar">
<font color=#000000><b>デッドリンクチェック実行画面</b></font>
</td></tr></table>
	<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
	<input type=hidden name=mode value="kanri">
	<input type=submit value="管理室に戻る">
<br>
</form>
<hr noshade color=#aaaaaa>
<?php
$jyuni=1;$jyuni_z=1;
?>
<a name="user"></a>
<form action="<?php echo $EST['cgi_path_url']?>regist_ys.php" method=post>
<?php echo YOMI_TICKET_TAG; ?>
<br>
<ul>
	<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
	<input type=hidden name=dl_check value="on">
	<input type=hidden name=mode value="act_del">
	<input type=hidden name=del_mode value="multi">
	<input type=hidden name=changer value="admin">
	<input type=hidden name=checkfile value="<?php echo $_POST['checkfile']?>">
	<font size="+1">【デッドリンクチェック実行】</font><br>
	(読み込んでいるファイル：<b><?php echo $_POST[checkfile]?></b>)<br>
	▼WWWCでチェックした結果、リンク切れであると思われるサイトのデータのリストです<br>
	※データを削除する場合には「<b>削除</b>」をチェックしてください<br>
	※データが存在している場合で、このリストから消したい場合には「<b>存在</b>」をチェックしてください<br>
	　この場合、登録データは削除されません<br>
	※とりあえずこのリストに残しておきたい場合には「<b>保留</b>」を選んでください<br>
	<br><br>
<table cellpadding=5 border=1>
<tr>
<td>削除</td><td>存在</td><td>保留</td><td>URL</td><td align=center>URL(別窓)</td>
<td align=center>編集</td><td align=center>編集(別窓)</td>
</tr>
<?php
if($url) {
	foreach ($url as $id=>$val){
		?>
<tr>
<td>
<input type=radio name="id_<?php echo $id?>" value="on">x
</td>
<td>
<input type=radio name="id_<?php echo $id?>" value="off">o
</td>
<td>
<input type=radio name="id_<?php echo $id?>" value="" checked>-
</td>
<td>
<a href="<?php echo $val?>"><?php echo $val?></a>
</td>
<td align=center>
<a href="<?php echo $val?>" target="_blank">ジャンプ</a>
</td>
<td align=center>
<a href="regist_ys.php?pass=<?php echo $_POST['pass']?>&changer=admin&in_mode=mente&Smode_name=mente&id=<?php echo $id?>">編集</a>
</td>
<td align=center>
<a href="regist_ys.php?pass=<?php echo $_POST['pass']?>&changer=admin&in_mode=mente&Smode_name=mente&id=<?php echo $id?>" target="_blank">編集(別窓)</a>
</td>
</tr>
<?php
	}
}
?>
</table><br>
	<input type=submit value="削除処理実行"> <input type=reset value="リセット">
</form>
</ul>
<hr noshade color=#aaaaaa>
<?php
if(!$Eadd_below_mode){echo $Eadd_data_below;}
cp_cr();
?>

<?php
exit;
