<link rel="stylesheet" href="<?php echo $EST['html_path_url']?>style.css" type="text/css">

<a name=top></a>
<form action="<?php echo $EST['admin']?>" method=post>
<?php echo YOMI_TICKET_TAG; ?>
<!-- メニューバー -->
<div align=right><font id=small>
<?php
menu_bar();
?>
</font></div>
<hr noshade color=#aaaaaa>
<?php echo YOMI_HOME_URL?> &gt;
<table width=100%><tr><td id="title-bar">
<font color=#000000><b>ログデータの交換・移動・削除</b></font>
</td></tr></table>
	<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
	<input type=hidden name=mode value="kanri">
	<input type=submit value="管理室に戻る">
<br>
</form>
[<a href="#change">ログデータの交換</a>] 
[<a href="#move">ログデータの移動</a>] 
[<a href="#del">ログデータの削除</a>] 
<hr noshade color=#aaaaaa>
<?php
$PR_kt_list="";
foreach($ganes as $key=>$val){
	$PR_kt_list.="<option value=\"$key\">" . full_kt($key) . "\n";
}
$jyuni=1;$jyuni_z=1;
?>
<a name="change"></a>
<form action="<?php echo $EST['admin']?>" method=post>
<?php echo YOMI_TICKET_TAG; ?>
<a name="make">[<a href="#top">トップに戻る</a>]</a><br>
<ul>
	<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
	<input type=hidden name=mode value="log_kt_change_act">
	<input type=hidden name=log_mode value="change">
	<font size="+1">【ログデータの交換】</font><br>
	▼<b>交換するカテゴリ(1)</b>と<b>交換するカテゴリ(2)</b>のデータを交換します
	<br><br>
	[交換するカテゴリ(1)]
	<select name="change_kt1">
	<option value="" selected> -- 選択してください --
	<?php echo $PR_kt_list?>
	</select>
	<br>
	[交換するカテゴリ(2)]
	<select name="change_kt2">
	<option value="" selected> -- 選択してください --
	<?php echo $PR_kt_list?>
	</select>
	<br>
	<input type=checkbox name=check value="on">←確認チェック
	<br>
	<input type=submit value="交換実行"> <input type=reset value="リセット">
</form>
</ul>
<hr noshade color=#aaaaaa>
<a name="move"></a>
<form action="<?php echo $EST['admin']?>" method=post>
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
	<input type=hidden name=mode value="log_kt_change_act">
	<input type=hidden name=log_mode value="move">
<a name="config">[<a href="#top">トップに戻る</a>]</a>
<ul>
<font size="+1">【ログデータの移動】</font><br>
	▼指定したカテゴリのデータを移動先のカテゴリに移動します
	<br><br>
	[移動元のカテゴリ]
	<select name="bf_move_kt">
	<option value="" selected> -- 選択してください --
	<?php echo $PR_kt_list?>
	</select><font color=red>(※移動実行後に空のカテゴリになります)</font>
	<br>
	[移動先のカテゴリ]
	<select name="af_move_kt">
	<option value="" selected> -- 選択してください --
	<?php echo $PR_kt_list?>
	</select>
	<br>
	<input type=checkbox name=check value="on">←確認チェック
	<br>
	<input type=submit value="移動する"> <input type=reset value="リセット">
</ul>
</form>
<hr noshade color=#aaaaaa>
<a name="v3tov4"></a>
<form action="<?php echo $EST['admin']?>" method=post>
	<?php echo YOMI_TICKET_TAG; ?>
	<input type=hidden name=pass value="<?php echo $_POST['pass']?>">
	<input type=hidden name=mode value="log_kt_change_act">
	<input type=hidden name=log_mode value="del">
<a name="del">[<a href="#top">トップに戻る</a>]</a>
<ul>
<font size="+1">【ログデータの削除】</font><br>
	▼指定したカテゴリのデータを一括削除します<br>
	　(※２つ以上に登録されているデータは削除対象でないカテゴリのデータとして残ります)
	<br><br>
	[削除するカテゴリ]
	<select name="del_kt">
	<option value="" selected> -- 選択してください --
	<?php echo $PR_kt_list?>
	</select>
	<br>
	<input type=checkbox name=check value="on">←確認チェック
	<br>
	<input type=submit value="削除する"> <input type=reset value="リセット">
</ul>
</form>
<hr noshade color=#aaaaaa>
<?php
if(!$Eadd_below_mode){echo $Eadd_data_below;}
cp_cr();
?>

<?php
exit;
